# Lazada Project: Transform

This part does Transform of ETL (Extract, Transform and Load).
Data from csv file is inserted to table in MS SQL database.

In [63]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float, Boolean, MetaData, Table

In [64]:
# connection string
conn_str = "mssql+pyodbc:///?odbc_connect=DRIVER={ODBC Driver 17 for SQL Server};SERVER=Renz-Latitude54\\SQLEXPRESS;DATABASE=Lazada;Trusted_Connection=yes;"

In [65]:
# Create SQLAlchemy engine
engine = create_engine(conn_str)

In [66]:
# Define table structure
table_name = 'LazadaProducts'
metadata = MetaData()
table = Table(
    table_name, 
    metadata,
    Column('item_id', Integer, primary_key=True),  # Assuming item_id is unique
    Column('product_url', String),
    Column('title', String),
    Column('img', String),
    Column('category_path', String),
    Column('brand', String),
    Column('brand_id', Integer),
    Column('currency', String),
    Column('price', Float),
    Column('discount', Float),
    Column('comment_count', Integer),
    Column('sold_count', Integer),
    Column('is_in_stock', Boolean),
    Column('is_ad', Boolean),
    Column('sale_price', Float),
    Column('origin_price', Float),
    Column('average_score', Float),
    Column('review_count', Integer),
    Column('shop_id', Integer),
    Column('shop_name', String),
    Column('shop_url', String),
    Column('seller_id', Integer),
    Column('seller_name', String),
    Column('area_from', String)
)

In [67]:
# Bind the metadata to the engine
metadata.create_all(engine)

In [68]:
# Read CSV file into pandas DataFrame (ignoring the first column)
df = pd.read_csv('lazada.csv', header=None, skiprows=1, usecols=range(1, 25))

In [69]:
# Set column names explicitly in DataFrame
df.columns = [
    'item_id',
    'product_url',
    'title',
    'img',
    'category_path',
    'brand',
    'brand_id',
    'currency',
    'price',
    'discount',
    'comment_count',
    'sold_count',
    'is_in_stock',
    'is_ad',
    'sale_price',
    'origin_price',
    'average_score',
    'review_count',
    'shop_id',
    'shop_name',
    'shop_url',
    'seller_id',
    'seller_name',
    'area_from'
]

In [73]:
# Insert data into the table
try:
    df.to_sql(table_name, con=engine, if_exists='replace', index=False, method='multi')
    print("Data inserted successfully!")

except Exception as e:
    print(f"Error inserting data: {e}")

Data inserted successfully!